@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Fira+Sans+Condensed:wght@700&family=Lato:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Lora&family=Playfair+Display:wght@700&family=Poppins:wght@500;600;800&family=Source+Code+Pro:wght@700&display=swap');




body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgba(134, 131, 131, 0.2), rgba(134, 131, 131, 0.2)), linear-gradient(124.63deg, rgba(99, 105, 99, 0.336) 24.86%, rgba(97, 94, 94, 0.084) 31.25%, rgba(218, 210, 210, 0.108) 36.17%, rgba(174, 165, 165, 0.156) 42.83%, rgba(129, 121, 121, 0.186) 48.38%, rgba(121, 110, 110, 0.102) 53.82%, rgba(249, 231, 231, 0.09) 61.49%, rgba(151, 140, 140, 0.084) 67.12%, rgba(202, 190, 190, 0.084) 73.45%, rgba(149, 146, 146, 0.24) 81.13%, rgba(141, 122, 122, 0.06) 86.3%, rgba(211, 196, 196, 0.09) 92.82%, rgba(123, 119, 119, 0) 100%); 
	overflow-x: hidden;
}

.background {
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),url(https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/zvj2rpet4eyw7jlb1fa9/littledume3);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.nav_ {
	position: fixed;
}

.searchBar{
    height: 60px;
    background-color: rgba(119, 116, 116, 100%);
    color: white;
}

.searchBar input{
    border: none;
    outline: none;
    background: none;
    width: 50%;
    padding-left: 10px;
    color: white;
    font-size: 18px;
}

.searchBar input::placeholder{
    font-weight: 600;
    font-size: 18px;
    color: rgb(194, 190, 190);
    cursor: text;
}

.sidebar_link a{
	color: white;
	text-decoration: none;
}

.sidebar_link a:hover{
	color:  #777474;
}

.navMain {
    color: black;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    margin-right: 22px;
}

.navMain:hover {
    border-bottom: 1px solid white;
}

.footerInSec2 a{
    color: black;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.footerInSec2{
    color: black;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
}

.footer{
    background: #777474;
    height: 600px;
	bottom: 0;
}

.footer2{
	bottom: 0;
    background: #615D5D;
    height: 57px;
}

.contactUsFooter{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.2em;
}

.address, .number, .email {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15em;
    margin-top: 40px;
}

.footerDetails{
    position: relative;
    top: 150px;
}

.copyrightFooter{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
}

.navbar_scroll {
    background-color: rgba(119, 116, 116, 80%);
}


.menuClose:hover {
    transform: rotate(90deg);  
}

.nameSRA{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
}

.logo:hover{
    transform: scale(1.05,1.05);
}



.sideBar_open{
    position: fixed;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    height: 1024px;
    width: 100%;
} 

.sidebar_menu{
	z-index: 1;
	right: -10px;
	top: 0;
    position: fixed;
    background: #212020;
    height: 0;
    width: 0;
	opacity: 0;
    transition: all 1s ease-in-out;
}

.sidebar_menu_open{
    z-index: 1;
	right: -10px;
	top: 0;
    position: fixed;
    background: #212020;
    height: 1024px;
    width: 370px;
	opacity: 1;
    transition: all 1s ease-in-out;
}

.ourProperties, .neighborhoods, .workWithUs, .services, .mortCal, .testim, .aboutUs, .acc, .logIn, .signUp, .contactUs{
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 49px;
	cursor: pointer;
}



.menu_list a:hover {
    color: #dfdbdb;
}



.sidebar_link{
    height:600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.backToTop_btn{
	opacity: 0;
	font-size: 40px;
	background-color: rgba(119, 116, 116, 100%);
	width: 50px;
	height: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 25px;
	float: end;
}

.backToTop_btn_open{
	opacity: 1;
	font-size: 40px;
	background-color: rgba(119, 116, 116, 100%);
	width: 50px;
	height: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 25px;
	float: end;
	transition: all 0.3s ease-in-out;
}

.ourProperties_list, .workWithUs_list{
	display: none;
}

.desInTittleHeader{
    padding-top: 10px;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.highlight{
    padding-top: 10px;
    text-align: center;
    line-height: normal;
    letter-spacing: 2px;
}

.tittleHeader_box{
	height: 800px;
}

.tittle_Header{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 85px;
	background: rgba(22, 22, 22, 0.5);
	height: 200px;
	width: 801px;
	color: white;
}

.dropDownList {
	color: #ffffff;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
	padding-left: 25px;
	padding-left: 40px;
}

.arrow1 ,.arrow2 ,.arrow3 ,.arrow4 {
	transform: rotate(180deg);
}

.tittle {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}


#showHover1,#showHover2,#showHover3,#showHover4,#showHover5,#showHover6,#showHover7,#showHover8 {
    position: absolute;
    opacity: 1;
    min-width: 500px;
    padding-left: 20px;
    background: rgba(88, 85, 85, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#show:hover #showHover1,#show:hover #showHover2,#show:hover #showHover3,#show:hover #showHover4,#show:hover #showHover5,#show:hover #showHover6,#show:hover #showHover7,#show:hover #showHover8{
    visibility: visible;
    opacity: 1;
}


.list_tittle{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.list_Address{
    color: white;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
}

.list_desc{
    color: white;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
}

.list_amount{
    color: white;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

@media screen and (max-width: 575px){
    .email {
        margin-bottom: 30px;
    }
    .footer{
        background: #777474;
        height: 800px;
    }
    .headInSec1 {
        font-size: 42px;
    }

    ._navLink{
        display: none;
    }

}

@media screen and (min-width: 801px) and (max-width: 1000px){
    .headInSec1 {
        font-size: 52px;
    }

}


 @media screen and (min-width: 501px) and (max-width: 800px){
    .headInSec1 {
        font-size: 40px;
    }

    .footer{
        background: #777474;
        height: 800px;
    }

    .headInSec1 {
        font-size: 52px;
    }

    
} 



